@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;700&family=Poppins:wght@300&family=Sintony:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;700&family=Poppins:wght@300;500&family=Sintony:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  margin: 0 auto;


}

html {
  overflow-x: hidden;
  /* Esconde a barra de rolagem horizontal */
}


.header__a {
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 14px;
  color: #0A0000;
  text-decoration: none;
  background-color: white;
  padding: 10px;
}

.nav__links li:last-child a.header__a {
  background-color: #AE0000;
  border-radius: 10px;
  color: white;

}


header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  background-color: white;
  max-width: 1200px;


}

.header__a:hover {
  background-color: #AE0000;
  color: white;
  border-radius: 10px;
  padding: 10px;
  transition: 0.5s ease
}


ul {
  background-color: white;
}

.logo {
  cursor: pointer;
  width: 15vh;

}

.nav__links li {
  list-style: none;
  display: inline-block;
  margin: 1em;

}

a.header__adc {
  background-color: #AE0000;
  color: white;
  border-radius: 10px;

}

/* -- Main content --  */

.hands__background {
  background-image: url(Assets/lawyerhands.png);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 90vh;


}


.hands__content {
  position: relative;
  top: calc(30vh);
  color: #FFFFFF;
  font-family: 'Poppins';
}

.content__text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  width: 100%;
  text-align: left;
  max-width: 1200px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: left;


}

.content__text h1,
.content__text h3,
.content__text p {
  margin: 0;
  margin-bottom: 20px;
}

.content__text h1 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  text-transform: uppercase;
  margin-bottom: 10px;


}

.content__text h3 {
  font-weight: lighter;
  font-size: 18px;
}

.content__text p {
  font-size: 14px;
  font-weight: lighter;
}

.hands__button {
  background-color: #AE0000;
  color: white;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 14px;
  border: none;
  float: left;
  position: absolute;
  top: 25vh;
  text-decoration: none;

}

/* Our Services */

.ourservices__svg {
  position: absolute;
  top: 80vh;
  width: 100%;
}

.ourservices__text {
  font-family: 'Poppins';
  color: #0A0000;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  left: 10;
  max-width: 1200px;
}

.ourservices__h3,
.ourservices__p {
  margin: 0;

}

.ourservices__h3 {
  text-transform: uppercase;
  font-size: 24px;
}

.squares__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  height: 100vh;
  background-color: #F1F1F1;
  margin-top: 50px;
  padding: 6rem 15rem;
  position: relative;


}

.square {
  font-family: 'Poppins';
  width: 300px;
  height: 300px;
  background-color: #FFFFFF;
  border-radius: 15px;
  text-align: justify;
  padding: 20px;
  box-sizing: content-box;
  position: relative;


}

.square h3 {
  margin-top: 110px;
}

.square_span {
  padding-top: 10px;
  font-size: 12px;



}

.square .icon_square {
  width: 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin: 0 auto;
  position: absolute;
  top: 10px;


}

.square .squareclip_path {
  width: 100%;
  height: 100%;
  clip-path: polygon(12% 0, 100% 0, 100% 37%, 78% 18%);
  background: #AE0000;
  border-radius: 5px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
  margin: 0 auto;
  position: absolute;
  top: 10px;
  right: 10px;

}

/* About us Section */

.about-us-contain {
  width: 1200px;


}

.about-us-text {
  font-family: "Poppins";
  margin-top: 5rem;

}

.about-us-text h4 {
  color: #AE0000;
  text-transform: uppercase;
}

.about-us-text h1 {
  color: #000000;
  font-weight: bold;
  font-size: 30px;
}

.about-us-text p {
  color: #2C0000;
}


.about-us-image {
  position: absolute;
  transform: translate(180%, -70%);
  z-index: 1;


}

.about-us-red-circle {
  width: 400px;
  height: 390px;
  border-radius: 50%;
  background: red;
  transform: translate(80%, -70%);

}

.about-us-rectangle-contain {
  display: flex;
  justify-content: space-between;
  margin: 0 300px;
  top: -150px;
  position: relative;
  flex-wrap: wrap;

}

.about-us-rectangle {
  font-family: 'Poppins';
  width: 350px;
  height: 150px;
  background-color: #f1f1f1;
  border-radius: 15px;
  padding: 30px;
  box-sizing: content-box;
  border: solid 1px black;




}

.about-us-rectangle h3 {
  font-size: 24px;
  text-align: center;


}

.rectangle_span {
  font-size: 14px;
  margin-top: 30px;


}

.rectangle_icon {
  position: absolute;
  width: 60px;
  top: 10px;
}

.about-us-rectangle:hover {
  color: white;
  background-color: #373636;
  transition: 0.5s ease;

}

/* Specialization-Section */

.specialization__contain {
  background-color: #F1F1F1;


}

.specialization_text_contain {
  display: flex;
  position: relative;
  top: 100px;
  right: 25rem;
  font-family: "Poppins";
  z-index: 1;


}

.specialization_text h2,
.specialization_text p,
.specialization_text a {
  padding-bottom: 1.5rem;

}

.specialization_text h2 {
  font-weight: bold;
}

.specialization_text a {
  background-color: #AE0000;
  color: white;
  border-radius: 10px;
  padding: 10px 20px;
  cursor: pointer;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
}

.specialization_text a:hover {
  background-color: #957f7f;
}


.specialization_rotation {

  display: flex;
  justify-content: center;
  position: relative;
  bottom: 10rem;


}

.image_rotation1 {
  position: relative;
  left: 50rem
}

.image_rotation2 {
  position: relative;
  left: 25rem;
  bottom: 3rem;
}

.image_rotation3 {
  position: relative;

}

/* Ourteam-content */

.ourteam-section {
  position: relative;
  width: 100%;
  height: 45vh;
}

.ourteam-section img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: blur(2px);
}

.ourteam-section h1 {
  position: absolute;
  top: 50%;
  left: 20%;
  color: #ffffff;
  font-family: 'Poppins';
  font-size: 2rem;
}

.colchetes1 {
  color: red;
}

.colchetes2 {
  color: red;
}

/* Ourteam-content-images */


.cards-main {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;

}

.cards-container {
  margin-top: 40px;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;


}

.card {
  position: relative;
  width: 250px;
  height: 300px;
  margin: 20px;
  box-shadow: 0 15px 35px rgba(10, 8, 8, 0.2);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;



}

.card-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.5s;
}

.cards-container .card:hover .card-content .imgBx img {
  opacity: 0.5;
}

.cards-container .card .card-content .imgBx {
  position: relative;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  overflow: hidden;

}

.cards-container .card .card-content .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cards-container .card .card-content .contentBx h3 {
  color: rgb(0, 0, 0);
  font-family: "Poppins";
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 18px;
  text-align: center;
  margin: 20px 0 10px;
  line-height: 1.1em;

}

.cards-container .card .card-content .contentBx h3 p {
  font-size: 12px;
  font-weight: 300;
  text-transform: initial;

}

.cards-container .card .sci {
  position: relative;

}

.sci li {
  list-style: none;
  margin: 0 10px;
  transform: translateY(10px);
  transform: translateX(-15px);
  transition: 0.5s;
}