@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;700&family=Poppins:wght@300&family=Sintony:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;600;700&family=Poppins:wght@300;500&family=Sintony:wght@400;700&display=swap');

* {

  margin: 0;
  padding: 0;
  box-sizing: border-box;


}

body, html{
  overflow-x: hidden;
  scroll-behavior: smooth;
}


.header__a {

  font-family: 'Poppins';
  font-weight: 500;
  font-size: 14px;
  color: #0A0000;
  text-decoration: none;
  background-color: white;
  padding: 10px;
}

.nav__links li:last-child a.header__a {
  background-color: #AE0000;
  border-radius: 10px;
  color: white;

}


header {
  
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px;
  background-color: white;
 



}

.header__a:hover {
  background-color: #AE0000;
  color: white;
  border-radius: 10px;
  padding: 10px;
  transition: 0.5s ease-in
}

/*Faz com o que fique com o background selecionado no contact */
.contact-body .header__a[href="contact.html"] {
  background-color: #AE0000;
  color: white;
  border-radius: 10px;
  padding: 10px;
  transition: 0.5s ease
}


ul {
  background-color: white;
}

.logo {
  cursor: pointer;
  width: 15vh;



}

.nav__links li {
  list-style: none;
  display: inline-block;
  margin: 1em;

}

a.header__adc {
  background-color: #AE0000;
  color: white;
  border-radius: 10px;

}

/* Hamburguer Menu */

.hamburger {
  position: relative;
  display: block;
  width: 25px;
  cursor: pointer;

  appearance: none;
  background: none;
  outline: none;
  border: none;

}

.hamburger .bar,.hamburger::after,.hamburger::before {
  content: '';
  display: flex;
  width: 100%;
  height: 5px;
  background-color: black;
  margin: 6px 0px;
  transition: 0.4s;
  border-radius: 10px;

}

.hamburger.is-active::before {
  transform: rotate(-45deg) translate(-8px, 6px);
}

.hamburger.is-active::after {
  transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.is-active .bar {
  opacity: 0;
}

.mobile-nav {
  position: fixed;
  width: 100%;
  left: 100%;
  min-height: 100vh;
  display: block;
  z-index: 98;
  background-color: #F1F1F1;
  padding-top: 120px;
  transition: 0.4s ease-in;
  overflow: hidden;

}

.mobile-nav.is-active {
  left: 0;
 
}

.mobile-nav a {
  display: block;
  width: 100%;
  max-width: 200px;
  margin: 0 auto 10px;
  text-align: center;
  width: fit-content;
  padding: 10px;
  color: #0A0000;
  border-radius: 5px;
  
}

@media screen and (max-width: 969px) {
  .nav__links {
      display: none;
      
  }

  .mobile-nav {
      display: block;
        
  }

  .hamburger {
      display: block;
      
  }

  .socialaction-image-container{
    display: none;
  }

  .specialization-rotation{
    display: none;
  }

}

@media screen and (min-width: 970px) {
.hamburger {
  display: none;
}
}

@media only screen and (max-device-width: 480px) {
  .mobile-nav.is-active {
    overflow-x: hidden;
  }
}



/* -- Main content --  */

.hands__background {
  background-image: url('Assets/lawyerhands.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 80vh;


}

.hands__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1200px;
  padding-top: 100px;

}

.content__text {
  font-family: "Poppins";
  color: #FFFFFF;

}

.content__text h1 {
  font-weight: 700;
  font-size: 38px;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.content__text h3 {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 15px;
}

.content__text p {
  font-size: 14px;
  font-weight: 200;
  margin-bottom: 20px;
}

.hands__button {
  background-color: #AE0000;
  color: white;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  display: inline-block;

}

.hands__button:hover {
  background-color: #850000;
}


/* Our Services */



.ourservices__text {
  text-align: center;

}

.ourservices__h3 {
  text-transform: uppercase;
  font-size: 30px;
  padding-top: 2em;
}

.square_container_box .ourservices__text {
  font-family: 'Poppins';
  color: #0A0000;
  padding-bottom: 5rem;

}

.square_container_box {
  background-color: #F1F1F1;
  padding-top: 50px;

}


.square_container_box .squares__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 15px;
  margin: auto;
  max-width: 1200px;
  padding: 1em;


}

.square_container_box .squares__container .square {
  font-family: 'Poppins';
  background-color: #FFFFFF;
  border-radius: 15px;
  padding: 20px;
  position: relative;

}


.square_container_box .squares__container .square h3 {
  margin-top: 8rem;
}

.square_span {
  padding-top: 10px;
  font-size: 12px;

}

.square .icon_square {
  width: 40px;
  display: grid;
  position: absolute;
  top: 10px;


}

.square .squareclip_path {
  width: 100%;
  height: 100%;
  clip-path: polygon(12% 0, 100% 0, 100% 37%, 78% 18%);
  background: #AE0000;
  border-radius: 5px;
  display: grid;
  position: absolute;
  top: 10px;
  right: 10px;

}

.square_container_box .squares__container .square:hover {
  box-shadow: 0 10px 15px rgba(0, 0, 0, .3);
  transform: scale(1.02);
}

/* About us Section */

.about-us-contain {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;

}

.about-us-text {
  font-family: "Poppins";
  margin: 40px;
}

.about-us-text h4 {
  color: #AE0000;
  text-transform: uppercase;
}

.about-us-text h1 {
  color: #000000;
  font-weight: bold;
  font-size: 30px;
}

.about-us-text p {
  color: #2C0000;
}

.about-us-image {
  background: rgba(174, 0, 1);
  border-radius: 100%;
  border: 5px solid rgba(174, 0, 1);

}

.about-us-rectangle-contain {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 50px;
  padding: 15px;

}

.about-us-rectangle {
  font-family: 'Poppins';
  border-radius: 10px;
  width: 400px;
  height: 200px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
  border: solid 1px black;
  position: relative;

}


.rectangle_icon {
  position: absolute;
  margin-left: 15px;

}

.about-text-rectangle h3 {
  font-size: 24px;
  text-align: center;
  margin: 15px;
}

.about-text-rectangle p {
  font-size: 14px;
  margin: 25px;

}




.about-us-rectangle:hover {
  color: white;
  background-color: #373636;
  transition: 0.5s ease;

}

/* Specialization-Section */

.specialization__contain {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  background: #F1F1F1;
  padding: 20px;



}

.specialization_text_contain {
  font-family: "Poppins";
  margin: 40px;

}

.specialization_text h2,
.specialization_text p,
.specialization_text a {
  padding-bottom: 1.5rem;

}

.specialization_text h2 {
  font-weight: bold;
}

.specialization_button {
  background-color: #AE0000;
  color: white;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  display: inline-block;

}

.specialization-rotation{
  position: relative;
 
}

.image-rotation:nth-child(1) {
  width: 230px; 
  height: 330px;
  left: 45px;
  position: relative;

}

.image-rotation:nth-child(2) {
  width: 230px; 
  height: 330px;


}

.image-rotation:nth-child(3) {
  width: 230px; 
  height: 330px;
  right: 45px;
  position: relative;
}


/* Ourteam-content */

.ourteam-section {
  position: relative;
  width: 100%;
  height: 45vh;
}

.ourteam-section img {
  object-fit: cover;
  width: 100%;
  height: 100%;
  filter: blur(2px);
}

.ourteam-section h1 {
  position: absolute;
  top: 50%;
  left: 20%;
  color: #ffffff;
  font-family: 'Poppins';
  font-size: 2rem;
}

.colchetes1 {
  color: red;
}

.colchetes2 {
  color: red;
}

/* Ourteam-content-images */


.cards-main {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;

}

.cards-container {
  margin-top: 40px;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: content;


}

.card {
  position: relative;
  width: 250px;
  height: 300px;
  margin: 20px;
  box-shadow: 0 15px 35px rgba(10, 8, 8, 0.2);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;



}

.card-content {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.5s;
}

.cards-container .card:hover .card-content .imgBx img {
  opacity: 0.5;
}

.cards-container .card .card-content .imgBx {
  position: relative;
  width: 130px;
  height: 130px;
  border-radius: 50%;
  overflow: hidden;

}

.cards-container .card .card-content .imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cards-container .card .card-content .contentBx h3 {
  color: rgb(0, 0, 0);
  font-family: "Poppins";
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 18px;
  text-align: center;
  margin: 20px 0 10px;
  line-height: 1.1em;

}

.cards-container .card .card-content .contentBx h3 p {
  font-size: 12px;
  font-weight: 300;
  text-transform: initial;

}

.cards-container .card .sci {
  position: relative;

}

.sci li {
  list-style: none;
  margin: 0 10px;
  transform: translateY(10px);
  transition: 0.5s;
}


/*OurPartners Section */

.ourpartner-wave {
  background-color: #f1f1f1;
  

}

.testimonial-heading h1 {
  padding: 30px;
  margin-left: 30px;
  font-size: 30px;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;


}

.testimonials {
  font-family: "Poppins";
  background-color: #F1F1F1;
  padding-bottom: 40px;


}


.testimonial-box-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 15px;
  padding: 10px;

}

.testimonial-box {
  border-radius: 10px;
  width: 400px;
  height: 200px;
  box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
  padding: 10px;
  

}

.profile-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 20px;
  cursor: pointer;
}

.profile-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.profile {
  display: flex;
  align-items: center;

}


.name-user strong {
  color: #3d3d3d;
  font-size: 1.1rem;
  letter-spacing: 0.5px;
}

.name-user p {
  color: #979797;
  font-size: 0.8rem;
}

.reviews {
  color: #f9d71c;
}

.box-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.client-comment p {
  font-size: 1rem;
  color: #0A0000;
}

/*Whatsapp Icon */

.whatsapp-button {
  position: fixed;
  right: 20px; 
  bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 97;
}

.whatsapp-button span svg {
  height: 3.5em; 
  fill: green;
}

/* social -Action */

.social-actions {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  background: #FFFF;
  padding: 50px;
}

.social-actions-text-contain {
  width: 500px;
}


.social-actions-text h2,
.social-actions-text p{
padding-bottom: 15px;
 }

.social-actions-text h2{
 font-size: 30px;
}
.social-actions-text p{
  font-size: 14px;
  color: #2C0000;
 }


.social-actions-button{
  background-color: #AE0000;
  color: white;
  border-radius: 10px;
  padding: 10px;
  cursor: pointer;
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  display: inline-block;

}

.socialaction-image-container{
  position: relative;

}

.image-social-action:nth-child(1) {
  width: 215px; 
  height: 330px;
  left: 45px;
  position: relative;


}

.image-social-action:nth-child(2) {
  width: 215px; 
  height: 330px;


}

.image-social-action:nth-child(3) {
  width: 215px; 
  height: 330px;
  right: 45px;
  position: relative;
}

/*Scrollbehavior */

